<h1 mat-dialog-title>Password</h1>
<div mat-dialog-content>
  <form [formGroup]="passwordFormGroup">
    <mat-form-field>
      <mat-label>Your password</mat-label>
      <input matInput [type]="passwordHidden ? 'password' : 'text'" [formControl]="passwordFormGroup.controls.current">
      <button mat-button matIconSuffix (click)="togglePasswordVisibility()">
        <mat-icon>{{ passwordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordFormGroup.controls.current.invalid &&
       (passwordFormGroup.controls.current.touched || passwordFormGroup.controls.current.dirty)">
        <span *ngIf="passwordFormGroup.controls.current.hasError('required')">
          The current password required!
        </span>
      </mat-error>
    </mat-form-field>
    <div class="form-fields">
      <mat-form-field>
        <mat-label>New password</mat-label>
        <input matInput [type]="passwordHidden ? 'password' : 'text'" [formControl]="passwordFormGroup.controls.new">
        <button mat-button matIconSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormGroup.controls.new.invalid &&
        (passwordFormGroup.controls.new.touched || passwordFormGroup.controls.new.dirty)">
          <span *ngIf="passwordFormGroup.controls.new.hasError('required')">
            The new password required!
          </span>
          <span *ngIf="passwordFormGroup.controls.new.hasError('maxlength')">
           The new password length must be max
            {{passwordFormGroup.controls.new.errors?.['maxlength']['requiredLength']}} characters!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm new password</mat-label>
        <input matInput [type]="passwordHidden ? 'password' : 'text'" [formControl]="passwordFormGroup.controls.confirmNew">
        <button mat-button matIconSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormGroup.controls.confirmNew.invalid &&
        (passwordFormGroup.controls.confirmNew.touched || passwordFormGroup.controls.confirmNew.dirty)">
          <span *ngIf="passwordFormGroup.controls.confirmNew.hasError('required')">
            The new password confirmation required!
          </span>
        </mat-error>
        <mat-hint *ngIf="passwordFormGroup.hasError('newPasswordNotConfirm') &&
        (passwordFormGroup.controls.confirmNew.touched || passwordFormGroup.controls.confirmNew.dirty)">
          The new password not confirmed!
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close [disabled]="passwordFormGroup.invalid" (click)="changePassword()">Change</button>
</div>
