<mat-form-field class="textarea">
  <mat-label>Write comment</mat-label>
  <textarea matInput [formControl]="commentControl"></textarea>
  <mat-error *ngIf="commentControl.invalid && commentControl.dirty">
    <span *ngIf="commentControl.hasError('maxlength')">The comment text must be max
      {{commentControl.errors?.['maxlength']['requiredLength']}} but specified
      {{commentControl.errors?.['maxlength']['actualLength']}} characters!</span>
  </mat-error>
  <button *ngIf="commentControl.dirty && commentControl.value"
          mat-raised-button (click)="publishComment()">Publish</button>
</mat-form-field>

