.sort-form-field {
  width: min(200px, 100%);
}

.spacer {
  flex-grow: 1;
}

.textarea-form-field {
  width: 100%;
}

.content {
  margin-top: 16px;
}

.card {
  margin-bottom: 16px;
}

.card-action:not(:last-child) {
  margin-right: 6px;
}

.textarea-field {
  width: 100%;
}

.reaction {
  font-size: 18px;
}

@media (max-width: 767px) {
  .sort-form-field {
    width: 100%;
  }
}
